.weather-current-page {
  text-align: center;
  height: 100%;

  .img-container {
    height: 250px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .img-container-large {
    height: 300px;
  }

  .current-temp-container {
    .current-temp {
      font-size: 6em;
    }
    .current-temp-unit {
      font-size: 2em;
    }
  }

  .weather-description {
    font-size: 1.5em;
    color: #b9b9c5;
  }

  .weather-info {
    color: #8f8ea2;
  }
}
